[Desktop Entry]
Categories=Network;Java;
Exec=esmska
Icon=esmska
StartupWMClass=esmska-Main
Terminal=false
Type=Application
Version=1.0
Name=Esmska
Name[he]=Esmska
Name[fr]=Esmska
Name[cs]=Esmska
Name[ru]=Esmska
Name[tr]=Esmska
Name[hu]=Esmska
Name[sk]=Esmska
Name[da]=Esmska
Name[it]=Esmska
GenericName=SMS Sender
GenericName[he]=שליחת SMS
GenericName[fr]=SMS Sender
GenericName[cs]=Posílač SMS
GenericName[ru]=СМС Отправитель
GenericName[tr]=SMS Sender
GenericName[hu]=SMS Sender
GenericName[sk]=Posielač SMS
GenericName[da]=SMS afsender
GenericName[it]=SMS Sender
Comment=Send SMS over the Internet
Comment[he]=שלח SMS דרך האינטרנט
Comment[fr]=Send SMS over the Internet
Comment[cs]=Posílejte SMS přes Internet
Comment[ru]=Отправить СМС через интернет
Comment[tr]=Send SMS over the Internet
Comment[hu]=Send SMS over the Internet
Comment[sk]=Poslať SMS cez Internet
Comment[da]=Send SMS via internettet
Comment[it]=Send SMS over the Internet
