[Desktop Entry]
Categories=Network;Java;
Exec=esmska
Icon=esmska
StartupWMClass=esmska-Main
Terminal=false
Type=Application
Version=1.0
Name=Esmska
Name[cs]=Esmska
Name[it]=Esmska
GenericName=SMS Sender
GenericName[cs]=Posílač SMS
GenericName[it]=SMS Sender
Comment=Send SMS over the Internet
Comment[cs]=Posílejte SMS přes Internet
Comment[it]=Send SMS over the Internet
